#loading{
    height: 300px;
    background: url("../img/ajax_loading.gif");
}
#magic-table table th{
    background-color: buttonface;
}
#magic-table table td{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: buttonface;
    vertical-align: middle !important;
}
#magic-table table{
    border: none;
}
#magic-table table a{
    font-weight: bold;
}